[Desktop Entry]
Name=TroLy (Trợ lý)
Comment=Trợ lý ảo cún cưng BamOS (Desktop Mascot AI Pet)
GenericName=AI Mascot Pet
Exec=troly
Icon=troly
Terminal=false
Type=Application
Categories=Utility;Office;ArtificialIntelligence;
StartupWMClass=troly
StartupNotify=true
Keywords=ai;chat;troly;assistant;qwen;rag;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=3
